<div class="card border-primary mb-3" >
    <div class="card-header">Companies
        <button type="button" class="btn btn-primary float-right" (click)="switchId()">{{ showId ? 'Ocultar': 'Mostrar'}} ID</button>
    </div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Companies</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/company/form']">Crear Company</button>
      </div>

      <div class="alert alert-info" *ngIf="companies?.length == 0">
        No hay companies
     </div>

      <table class="table table-bordered table-striped" *ngIf="companies?.length > 0">
          <thead>
              <tr>
                  <th *ngIf=showId>ID</th>
                  <th>CIF</th>
                  <th>Nombre</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let company of companies">
                  <td *ngIf=showId>{{company.idCompany}}</td>
                  <td>{{company.cif}}</td>
                  <td>{{company.nombre}}</td>
                  <td>
                    <button type="button" name="editar" [routerLink]="['/company/form/', company.idCompany]" class="btn btn-primary btn-sm" >Editar</button>
                  </td>
                  <td>
                  <button type="button" name="eliminar" (click)='delete(company)' class="btn btn-danger btn-sm" >Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>

