<div class="card bg-dark text-white">
    <div class="card-header"> {{ title }} </div>
    <div>

        <form #companyForm="ngForm"> 
            <div class="form-group row ml-2">
                <label for="cif" class="col-form-label col-sm-2">Cif</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="company.cif" name="cif" maxlength="9" required  #cif="ngModel">
                    <div class="alert alert-danger" *ngIf="cif.invalid && cif.touched">
                        <div *ngIf="cif.errors.required">
                            Debe rellenar el cif de la company 
                        </div>
                    </div>
                </div>
            </div> 
            <div class="form-group row ml-2">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="company.nombre" name="nombre" required  #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && nombre.dirty">
                        <div *ngIf="nombre.errors.required">
                            Debe rellenar el nombre del juego
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-1">
                <div class="col-sm-6">
                    <button class="btn btn-primary ml-2" role="button" (click)='create()' *ngIf="!company.idCompany" [disabled]="!companyForm.form.valid">Crear</button>
                    <button class="btn btn-primary ml-2" role="button" (click)='update()' *ngIf="company.idCompany" [disabled]="!companyForm.form.valid">Editar</button>

                    <button class="btn btn-primary ml-2" role="button" routerLink="/company" >Volver</button>
                </div>
            </div>
        </form>

    </div>
</div>
