<div class="card bg-dark text-white">
    <div class="card-header"> Login </div>
    <div>

        <form #loginForm="ngForm"> 
            <div class="form-group row ml-2">
                <label for="username" class="col-form-label col-sm-2">Username</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="credentials.username" name="username" required  #username="ngModel">
                    <div class="alert alert-danger" *ngIf="username.invalid && username.touched">
                        <div *ngIf="username.errors.required">
                            Debe rellenar el usuario 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-2">
                <label for="password" class="col-form-label col-sm-2">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="credentials.password" name="password" required  #password="ngModel">
                    <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                        <div *ngIf="password.errors.required">
                            Debe rellenar el password 
                        </div>
                    </div>
                </div>
            </div> 
            
            <div class="form-group row ml-1">
                <div class="col-sm-6">
                    
                    <button class="btn btn-primary" type="button" (click)='login()' [disabled]="!loginForm.form.valid">Login</button>

                </div>
            </div>
        </form>

    </div>
</div>


