<app-header></app-header>

<!-- <div class="container">
    <h1 *ngFor="let title of titles"> {{ title | uppercase}} </h1>
</div> -->
<div>
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>