<div class="card border-primary  mb-3">
    <div class="card-header">Juegos
        <button type="button" class="btn btn-primary float-right" (click)="switchId()">{{ showId ? 'Ocultar': 'Mostrar'}} ID</button>
    </div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Juegos</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/juego/form']">Crear Juego</button>
      </div>

      <div class="alert alert-info" *ngIf="juegos?.length == 0">
        No hay juegos
      </div>

      <table class="table table-bordered table-striped" *ngIf="juegos?.length > 0">
          <thead>
              <tr>
                  <th *ngIf=showId>ID</th>
                  <th>Titulo</th>
                  <th>Categoria</th>
                  <th>Pegi</th>
                  <th>Fecha de Lanzamiento</th>
                  <th>Companies</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let juego of juegos">
                  <td *ngIf=showId>{{juego.idJuego}}</td>
                  <td>{{juego.titulo}}</td>
                  <td>{{juego.categoria}}</td>
                  <td>{{juego.pegi}}</td>
                  <td>{{juego.fechaLanzamiento }}</td>
                  <td><span *ngFor="let company of juego.companies; index as i">{{company.nombre}}{{ (juego.companies.length > 1 && i < juego.companies.length - 1) ? ', ' : '' }}</span></td>
                  <td>
                    <button type="button" name="editar" [routerLink]="['/juego/form/', juego.idJuego]" class="btn btn-primary btn-sm" >Editar</button>
                  </td>
                  <td>
                  <button type="button" name="eliminar" (click)='delete(juego)' class="btn btn-danger btn-sm" >Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
