<div class="card bg-dark text-white">
    <div class="card-header"> {{ title }} </div>
    <div>

        <form #juegoForm="ngForm"> 
            <div class="form-group row ml-2">
                <label for="titulo" class="col-form-label col-sm-2">Titulo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="juego.titulo" name="titulo" maxlength="255" required  #titulo="ngModel">
                    <div class="alert alert-danger" *ngIf="titulo.invalid && titulo.touched">
                        <div *ngIf="titulo.errors.required">
                            Debe rellenar el titulo del juego 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-2">
                <label for="categoria" class="col-form-label col-sm-2">Categoría</label>
                <div class="col-sm-6">
                    <select name="categoria" class="form-control" [(ngModel)]="juego.categoria" required #categoria="ngModel">
                        <option *ngFor="let categoriaOption of categorias" [ngValue]="categoriaOption">{{ categoriaOption }}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="categoria.invalid && categoria.touched">
                        <div *ngIf="categoria.errors.required">
                            Debe rellenar la categoría del Juego
                        </div>
                    </div>
                </div>
            </div>  
            <div class="form-group row ml-2">
                <label for="pegi" class="col-form-label col-sm-2">Pegi</label>
                <div class="col-sm-6">
                    <input type="number" min="0" max="18" pattern="[0-9]{1,2}" class="form-control" [(ngModel)]="juego.pegi" name="pegi" required  #pegi="ngModel">
                    <div class="alert alert-danger" *ngIf="pegi.invalid && pegi.dirty">
                        <div *ngIf="pegi.errors.required">
                            Debe rellenar el pegi del juego
                        </div>
                        <div *ngIf="pegi.errors.pattern">
                            Tiene que ser un numero positivo
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-2">
                <label for="fechaLanzamiento" class="col-form-label col-sm-2">Fecha de Lanzamiento</label>
                <div class="col-sm-6">
                    <input type="text" format="yyyy-MM-dd" class="form-control" [(ngModel)]="juego.fechaLanzamiento" name="fechaLanzamiento" required  #fechaLanzamiento="ngModel">
                    <div class="alert alert-danger" *ngIf="fechaLanzamiento.invalid && fechaLanzamiento.touched">
                        <div *ngIf="fechaLanzamiento.errors.required">
                            Debe rellenar la Fecha de Lanzamiento del juego
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-1">
                <div class="col-sm-6">
                    <button class="btn btn-primary ml-2" role="button" (click)='create()' *ngIf="!juego.idJuego" [disabled]="!juegoForm.form.valid">Crear</button>
                    <button class="btn btn-primary ml-2" role="button" (click)='update()' *ngIf="juego.idJuego" [disabled]="!juegoForm.form.valid">Editar</button>

                    <button class="btn btn-primary ml-2" role="button" routerLink="/juego" >Volver</button>
                </div>
            </div>
        </form>

    </div>
</div>

