<div class="alert alert-info" *ngIf="clientes?.length == 0">
    No hay clientes
</div>

<div class="card border-primary mb-3" *ngIf="clientes?.length > 0">
    <div class="card-header">Clientes
        <button type="button" class="btn btn-primary float-right" (click)="switchId()">{{ showId ? 'Ocultar': 'Mostrar'}} ID</button>
    </div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Clientes</h5>
      
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/cliente/form']">Crear Cliente</button>
      </div>

      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th *ngIf=showId>ID</th>
                  <th>Nombre</th>
                  <th>Documento</th>
                  <th>Correo</th>
                  <th>Fecha de Nacimiento</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let cliente of clientes">
                  <td *ngIf=showId>{{cliente.idCliente}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.documento}}</td>
                  <td>{{cliente.correo}}</td>
                  <td>{{cliente.fechaNacimiento}}</td>
                  <td>{{cliente.username}}</td>
                  <td>{{cliente.password}}</td>
                  <td>
                      <button type="button" name="editar" [routerLink]="['/cliente/form/', cliente.idCliente]" class="btn btn-primary btn-sm" >Editar</button>
                  </td>
                  <td>
                    <button type="button" name="eliminar" (click)='delete(cliente)' class="btn btn-danger btn-sm" >Eliminar</button>
                </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
