<div class="card bg-dark text-white">
    <div class="card-header"> {{ titulo }} </div>
    <div>

        <form #clienteForm="ngForm"> 
            <div class="form-group row ml-2">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" maxlength="255" required  #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && nombre.touched">
                        <div *ngIf="nombre.errors.required">
                            Debe rellenar el nombre del cliente 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-2">
                <label for="username" class="col-form-label col-sm-2">Username</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.username" name="username" required  #username="ngModel">
                    <div class="alert alert-danger" *ngIf="username.invalid && username.touched">
                        <div *ngIf="username.errors.required">
                            Debe rellenar el username del cliente 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-2">
                <label for="password" class="col-form-label col-sm-2">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="cliente.password" name="password" required  #password="ngModel">
                    <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                        <div *ngIf="password.errors.required">
                            Debe rellenar la password del cliente 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-2">
                <label for="documento" class="col-form-label col-sm-2">Documento</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.documento" name="documento" required  #documento="ngModel">
                    <div class="alert alert-danger" *ngIf="documento.invalid && documento.touched">
                        <div *ngIf="documento.errors.required">
                            Debe rellenar el documento del cliente 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-2">
                <label for="correo" class="col-form-label col-sm-2">Correo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.correo" name="correo" required  #correo="ngModel">
                    <div class="alert alert-danger" *ngIf="correo.invalid && correo.touched">
                        <div *ngIf="correo.errors.required">
                            Debe rellenar el correo del cliente 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-2">
                <label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha de Nacimiento</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.fechaNacimiento" name="fechaNacimiento" required  #fechaNacimiento="ngModel">
                    <div class="alert alert-danger" *ngIf="fechaNacimiento.invalid && fechaNacimiento.touched">
                        <div *ngIf="fechaNacimiento.errors.required">
                            Debe rellenar la Fecha de Nacimiento del cliente 
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row ml-1">
                <div class="col-sm-6">
                    <button class="btn btn-primary ml-2" role="button" (click)='create()' *ngIf="!cliente.idCliente" [disabled]="!clienteForm.form.valid">Crear</button>
                    <button class="btn btn-primary ml-2" role="button" (click)='update()' *ngIf="cliente.idCliente" [disabled]="!clienteForm.form.valid">Editar</button>

                    <button class="btn btn-primary ml-2" role="button" routerLink="/cliente" >Volver</button>
                </div>
            </div>
        </form>

    </div>
</div>
